.user__control {
}
.user__controlHeader {
  text-align: center;
  padding-top: 30px;
  color: gray;
  /* justify-content: center; */
}
.check__boxControl {
  justify-content: center;
  align-content: center;
  padding-top: 30px;
}
.user__controlFooter {
  text-align: center;
  margin-top: 50px;
}
.user__controlFooter > button {
  background-color: #1377e5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.user__controlBody {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  justify-content: space-evenly;
  margin-top: 50px;
  padding-left: 18%;
}
.user__controlBody > input {
  max-width: 150px;
  padding: 11px;
  margin-top: 10px;
}
